#article-detail {
    display: flex;
    justify-content: space-between;

    .article-main {
        flex-grow: 2;
        margin: 150px 50px 150px 150px;
        .article-title {
            font-size: 50px;
            margin-bottom: 10px;
        }
        .article-date {
            margin-bottom: 40px;
            color: #9EABB3;
        }
        .article-content {
            line-height: 2;
        }
    }
    .article-sidebar {
        width: 400px;
        background-color: yellow;
    }
}