#home {
    //background-color: #f9f9f9;
    .head {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        display: flex;
        align-items: center;
        height: 90px;
        background: none;
        -webkit-transition: all .4s;
        transition: all .4s;
        .menu-logo {
            display: flex;
            text-align: center;
            margin: 0 200px 0 100px;
            img {
                height: 90px;
            }
        }
        .menu-list {
            display: flex;
            width: 500px;
            justify-content: space-between;
            .menu-item {
                height: 90px;
                line-height: 90px;
                padding: 0 30px;
                transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                cursor: pointer;
            }
            .menu-item:hover {
                background-color: rgba(0, 0, 0, 0.0980392);
            }
        }
    }
    .head-move {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        height: 90px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.156863) 0 2px 10px, rgba(0, 0, 0, 0.156863) 0 2px 2px;
        -webkit-transition: all .6s;
        transition: all .6s;
        opacity: .98;
        .menu-logo {
            display: flex;
            text-align: center;
            margin: 0 200px 0 100px;
            img {
                height: 90px;
            }
        }
        .menu-list {
            display: flex;
            width: 500px;
            justify-content: space-between;
            .menu-item {
                height: 90px;
                line-height: 90px;
                padding: 0 30px;
                transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                cursor: pointer;
            }
            .menu-item:hover {
                background-color: rgba(0, 0, 0, 0.0980392);
            }
        }
    }
    .head-hide {
        margin-top: -90px;
    }
    .banner {
        img {
            width: 100%;
        }
    }
    .category {
        margin-top: 30px;
        .category-list {
            display: flex;
            justify-content: flex-start;
            margin-left: 40px;
            li {
                margin-left: 50px;
                color: #737373;
                cursor: pointer;
            }
            li:hover {
                color: #2d2d2d;
            }
            li:first-child {
                margin: 0;
                font-size: 18px;
                color: #4f4f4f;
                cursor: auto;
            }
        }
    }
    .content {
        padding-bottom: 100px;
        font-size: 16px;
        font-family: "Merriweather", serif;
        letter-spacing: 0.01rem;
        .article-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            .article-item {
                color: #4f4f4f;
                margin-top: 50px;
                background-color: #fff;
                cursor: pointer;
                width: 56%;
                position: relative;

                -webkit-transition: box-shadow .3s ease-in,-webkit-transform .2s ease-in;
                transition: box-shadow .3s ease-in,transform .2s ease-in;

                .item-banner {
                    width: 578px;
                    img {
                        width: 578px;
                    }
                }
                .item-title {
                    font-size: 30px;
                    padding: 12px 20px 10px 20px;
                    font-weight: bold;
                    font-family: "Open Sans", sans-serif;
                    text-rendering: geometricPrecision;
                }
                .item-content {
                    line-height: 1.8;
                    padding: 12px 20px 10px 20px;
                    .item-content-more {
                        position: relative;
                        top: 2px;
                        margin-left: 10px;
                        text-align: right;
                        color: #a2a2a2;
                        transition: all .3s ease-in;
                        -webkit-transition: all .3s ease-in;

                        i {
                            font-size: 18px;
                        }
                    }
                    .item-content-more:hover {
                        color: #ff4081;
                    }
                }
                .item-footer {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 20px;
                    line-height: 24px;
                    font-size: 16px;
                    border-bottom: 1px solid #f2f3f2;
                    padding: 10px 0 50px 0;
                    color: #9eabb3;
                    .count {
                        .count-list {
                            display: flex;
                            width: 100px;
                            justify-content: space-around;
                        }
                    }
                    .author {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 170px;
                        img {
                            width: 28px;
                            border-radius: 28px;
                        }
                        .author-name {
                            border-right: 1px solid #ddd;
                            padding-right: 16px;
                        }
                        .article-time {
                            padding-left: 6px;
                        }
                    }
                }

            }
            .article-item:hover {
                -webkit-transform: translate(0,-2px);
                transform: translate(0,-2px);
                box-shadow: 0 3px 10px rgba(0,0,0,.06);
                .item-footer {
                    border-color: #fff;
                }
                &::after {
                    -webkit-transition: box-shadow .3s ease-in,-webkit-transform .2s ease-in;
                    transition: box-shadow .3s ease-in,transform .2s ease-in;
                    box-shadow: #fff 0 0 0 5px, 0 7px 9px rgba(0,0,0,.06);
                }
            }
            .article-item:after:hover {
                content: none;
            }
            .article-item:after {
                display: block;
                content: "";
                width: 7px;
                height: 7px;
                border: #E7EEF2 1px solid;
                position: absolute;
                bottom: -5px;
                left: 50%;
                margin-left: -5px;
                background: #fff;
                border-radius: 100%;
                box-shadow: #fff 0 0 0 5px;
                -webkit-transition: box-shadow .3s ease-in,-webkit-transform .2s ease-in;
                transition: box-shadow .3s ease-in,transform .2s ease-in;
            }
        }
    }
    .footer {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #212121;
        color: #fff;
    }
}